*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

body{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    
}

[class^="col"] {
    padding: 1rem;
}

.row{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}

.col3{
    width: 100%;
    
}

.section_img{
    display: flex;
}

.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    background-color: aqua;
    width: 245px;
    height:1020px;
    background-color: aquamarine;
    span{
        vertical-align: middle;
        color: white;
        
    }
    img{
        vertical-align: middle;
        margin: 3px;
    }

    ul{
        line-height: 35px;
    }
}



.app_sidebar{
    border-bottom: 1px solid black;
    padding: 2px;
}
.sidebar_jhon_doe{
    p{
        padding: 3px;
    }
    
}

.container{
     width:calc(100% - 245px);
    height:1020px;
    background-color: antiquewhite;
    overflow: scroll;
   
}

.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header{
    display: flex;
    justify-content: end;
    align-items: center;
    
    background-color: black;
    width: 100%;
    height: 60px;

    a{
        margin-right: 10px;
        color: white;
        text-decoration: none;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        border-radius: 15px;
    }
}

.content{
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        margin: 15px;
        
    }

    .menù{
        margin-top: 15px;
    }
}

.container_song{
      display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
   height: 100%;
    
  
    
}

.card_img{
    width: 180px;
    margin: 5px;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.section_img{
width: 100%;
display: flex;
flex-wrap: wrap;



}